* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1E2D3B;
    min-height: 100vh;
}

.container {
    /* max-width: 1070px; */
    max-width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 12%;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo i{
    color: #fff;
    font-size: 30px;
}
.start{
    width: 10%;
    height: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.start i{
    color: #fff;
    font-size: 30px;
}
.cont-search{
    background-color: coral;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.research{
    align-self: center;
    padding: 8px 5px;
    width: 95%;
}
.research i{
font-size: 25px;
}
header {
    width: 100%;
    height: 70px;
    background-color: black;
}
header img {
    height: 50px;
    margin-top: 10px;
}

.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.film {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    /* doc originale */
    /* height: 360px; */
    /* doc originale */
    height: 500px;
    background: rgb(46, 58, 70);
    text-align: center;
}

.film img {
    max-width: 100%;
}

.film h5 {
    margin: 20px 0;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.film span.author {
    color: grey;
    font-size: 20px;
}

.film span.year {
    color: grey;
}

.rosso{
    color: red;
    background-color: black;
}


.imgNulla{
    max-width: 100%;
    width: 342px;
    height: 240px;
}


.flag{
    width: 20px;
}

/* parte rating stars */

/* .rating-star{
    position: relative;
}

.rating-color{
    color: rgba(255, 217, 0, 0.719);
    
}

.rating-color{
    white-space: no-wrap;
    position: absolute;
    top: 0;
    left: 0;
}
 */
