* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1E2D3B;
    min-height: 100vh;
}
header {
    width: 100%;
    height: 70px;
    background-color: black;

    position: relative;
}
header img {
    height: 50px;
}
.container-show{
    max-width: 96%;
    height: 100%;
    /* debug */
    height: 70px;
    margin: 0 auto;
    display: flex;
    /* debgu */
    justify-content: space-between;
}
.container-show.none{
    display: none;
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo i{
    color: #fff;
    font-size: 30px;
}
.start{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.start i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.container-hide{
    display: none;
}
.container-hide.active{
    display: block;
    max-width: 96%;
    height: 100%;
    /* debug */
    height: 70px;
    margin: 0 auto;
    display: flex;
    /* debgu */
    justify-content: center;
    align-items: center;
    position: relative;
}
div.back{
    position: absolute;
    left: 0;
    font-size: 25px;
    color: #fff;
    width: 3%;
    cursor: pointer;
}
.cont-search{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.research{
    /* align-self: center; */
    padding: 8px 5px;
    width: 100%;
    border: 3px solid rgb(29, 112, 221);
    outline: 0;
    background-color: black;
    color: #fff;
}
.sub-cont-search{
    width: 98%;
    padding: 1%;
}
.cont-search i{
font-size: 25px;
color: #fff;
}




















.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.film {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    /* doc originale */
    /* height: 360px; */
    /* doc originale */
    height: 500px;
    background: rgb(46, 58, 70);
    text-align: center;
}

.film img {
    max-width: 100%;
}

.film h5 {
    margin: 20px 0;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.film span.author {
    color: grey;
    font-size: 20px;
}

.film span.year {
    color: grey;
}

.rosso{
    color: red;
    background-color: black;
}


.imgNulla{
    max-width: 100%;
    width: 342px;
    height: 240px;
}


.flag{
    width: 20px;
}

/* parte rating stars */

/* .rating-star{
    position: relative;
}

.rating-color{
    color: rgba(255, 217, 0, 0.719);
    
}

.rating-color{
    white-space: no-wrap;
    position: absolute;
    top: 0;
    left: 0;
}
 */
