<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
    <!--*Ricordati di inserire la favicon-->
    <link rel="icon" type="image/png" sizes="96x96" href="img/willoflix_logo.png">
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <!-- font-awesome-cdn -->
    <!-- cdn library AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- library 2 aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <!-- start header -->
        <header>
            <div class="container-show" :class="none">
                <div class="logo">
                    <i class="fas fa-bars"></i>
                    <img class="daveflix-logo"
                        src="https://fontmeme.com/permalink/210211/3a556e646da6ef1ef15ddf788361d7b4.png" alt="">
                </div>
                <div class="start">
                    <i class="fas fa-search" @click="startResearch"></i>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            <!-- content hide , content fo start the research -->
            <div class="container-hide" v-if="start" :class="active">
                <div class="back" @click="comeBack">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="cont-search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca" v-model="query" @keyup="globalSearch" class="research">
                </div>

            </div>
        </header>
        <!-- /header -->

        <!-- content video and poster avatar -->
        <div class="video-container" v-if="query.length == 0" :class="opacity">
            <div style="color: white; display: flex; align-items: center; justify-content: center;">
                <img class="avatar-img"
                    src="https://ivid.akamaized.net/media/foto/1900/01/08/avatar_locandina_originale_a45e4.jpg" alt="">
            </div>
            <div class="border-video">
                <video loop autoplay class="video" src="avatar.mp4" type="video.mp4"></video>
            </div>
        </div>
        <!-- /end video and poster avatar -->

        <!-- total list of home page daveflix list of each type ((rated, top, awards film and so on...)) -->
        <div class="lista-consigliati" v-if="query.length == 0" :class="opacity">
            <!-- first list Top Movie -->
            <div style="margin: 40px 0; display: flex; flex-direction: column; justify-content: space-around;">

                <h3 style="color: #fff; padding: 0; margin: 0;">Top film su Daveflix</h3>
                <div class="template-img ">
                    <div :class="pxScroll == 0 ? 'none' : ''" class="prev" @click="prevImg">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="img-array">
                        <div :style="`left: ${pxScroll}px`" class="invisible">
                            <div data-aos="zoom-out-left" v-for='(top, index) in topMovies'
                                class="container-img-slider">
                                <img :src="'https://image.tmdb.org/t/p/w342' + top.poster_path " alt="poster">
                            </div>
                        </div>
                    </div>
                    <div :class="none" class="next" @click='nextImg'>
                        <i class="fas fa-arrow-right"></i>
                    </div>


                </div>
            </div>
            <!-- /top film list -->

            <!-- second list popular tv shows -->
            <div style="margin-bottom: 40px 0; display: flex; flex-direction: column; justify-content: space-around;">

                <h3 style="color: #fff; padding: 0; margin: 0;">Serie Tv popolari su Daveflix</h3>
                <div class="template-img ">
                    <div :class="pxScroll == 0 ? 'none' : ''" class="prev" @click="prevImg">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="img-array" style='height: 300px;'>
                        <div :style="`left: ${pxScroll}px`" class="invisible">
                            <div data-aos="zoom-out-right" v-for='(top, index) in topSeries'
                                class="container-img-slider">
                                <img :src="'https://image.tmdb.org/t/p/w342' + top.poster_path " alt="poster">
                            </div>
                        </div>
                    </div>

                    <div class="next" :class="none" @click='nextImg'>
                        <i class="fas fa-arrow-right"></i>
                    </div>

                </div>
            </div>
            <!-- /end of tv shows popular -->

            <!-- most famous movies ever -->
            <div style="margin: 80px 0;">

                <h3 style="color: #fff; padding: 0; ">Film con attori popolari su Daveflix</h3>
                <div class="template-img ">
                    <div :class="pxScroll == 0 ? 'none' : ''" class="prev" @click="prevImg">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="img-array" style='height: 300px;'>
                        <div :style="`left: ${pxScroll}px`" class="invisible">
                            <div data-aos="zoom-out-left" v-for='(top, index) in person' class="container-img-slider">
                                <img :src="'https://image.tmdb.org/t/p/w342' + top.poster_path" alt="poster">
                            </div>
                        </div>
                    </div>
                    <div class="next" :class="none" @click='nextImg'>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <!-- end of most famous movies -->
        </div>
        <!-- end of total list home page -->




        <!-- start main -->
        <main>
            <!-- main container -->
            <div v-if="query.length > 0" class="main-container">
                <div class="main-header" style="margin-bottom: 5%;">
                    <h2 style="font-weight: 300;" class="cds-title">Film e programmi TV</h2>
                    <h2 class="cds-title" style="color: white; font-weight: 300;">Suggerimenti</h2>
                </div>
                <div class="cds-container">
                    <div v-if=" movies " class="film" v-for=" (movie,index) in movies " data-aos="zoom-in-up">
                        <div @mouseleave="hoverBack(index)" @mouseover="hoverDescription(index)" class="posts">
                            <img :class="movies[index].activeHover ? noneImg : '' " v-if=" (movie.poster_path != null) "
                                :src=" 'https://image.tmdb.org/t/p/w342' + movie.poster_path " class="poster"
                                alt="poster_path">
                            <img :class="movies[index].activeHover ? noneImg : '' " v-else :src="'img/' + imgNull"
                                alt="" class="imgNulla">
                            <div v-if="movies[index].activeHover" class="active-hover" :class=" activeImg ">
                                <p class="film-title">
                                    {{ movie.title || movie.name }}
                                </p>
                                <div class="container-voto">
                                    <!-- rating star vote -->
                                    <div class="rating-star">
                                        <span style="color: gold; -webkit-text-stroke: black;"
                                            v-for="n in movie.votoStelle">
                                            &starf;
                                        </span>
                                        <span style="color: white; -webkit-text-stroke: black;"
                                            v-for="n in (maxStars - movie.votoStelle)">
                                            &starf;
                                        </span>
                                    </div>
                                    <p style="font-size: 8px;">
                                        {{ movie.vote_average }} / 10
                                    </p>
                                </div>
                                <!-- /rating star vote -->


                                <!-- start lan -->
                                <div class="lingua">
                                    {{ movie.original_language }}
                                    <img :src=" 'img/' + movie.original_language +'.png' " id="flag" alt="">
                                </div>
                                <!-- /lang -->

                                <!-- start original title -->
                                <span style="font-size: 10px;" class="author">
                                    Titolo Originale:
                                    {{ movie.original_title || movie.original_name }}
                                </span>
                                <!-- /original_title -->

                                <!-- start trama -->
                                <p class="trama">
                                    {{ movie.overview }}
                                </p>
                                <!-- /trama -->

                                <!-- start year dated -->
                                <span class="year">
                                    Data:
                                    {{ movie.release_date || movie.first_air_date }}
                                </span>
                                <!-- start year dated -->
                            </div>
                        </div>


                    </div>

                    <!-- suggerimenti -->
                    <div class="suggest">
                        <ul style="list-style: none;">
                            <li v-for="movie in movies">
                                {{movie.title || movie.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /end main-container -->
        </main>
        <!-- /end main -->
    </div>
    <!-- /end div app -->





    <script src="js/script.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>